@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}

:root {
    --primary-color: #ECE9E4;
    --secondary-color: #FF3366;

    --background-color: #0A0A0A;
    --background-color-active: #181818;
}
::selection {
    background-color: var(--secondary-color);
    color: var(--background-color); 
}


::-webkit-selection {
    background-color: var(--secondary-color);
    color: var(--background-color); 
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0.7rem;
}

.container {
    width: 100%;
    max-width: 1244px;
}

body {
    background-color: var(--background-color);
    font-family: "TT Firs Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--primary-color);
    height: 300dvh;
}

nav {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
}

header {
    height: 100px;
    background: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(10,10,10,0) 100%);
    position: fixed;
    top: 0px;
    z-index: 99;
}
main{
    margin-top: 80px;
}
.nav-menu {
    display: flex;
}

.hamburguer {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;

    border-radius: 50%;
    padding: 8px;


}


.line {
    margin: 6px auto 0;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--primary-color);

}

.hamburguer:hover .line:nth-child(1) {
    margin: 4px auto 0;
}

.hamburguer:hover .line:nth-child(2) {
    margin: 10px auto 0;
}

.active {
    background-color: var(--background-color-active);
}

.active .line:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
    margin: 6px auto 0 !important;
}

.active .line:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
    margin: 6px auto 0 !important;

}

.linksNavbar {
    display: flex;
    gap: 1.5rem;
}

.linksNavbar #teamPlans {
    color: var(--primary-color);
    font-weight: 600;

}

#notify a {

    text-decoration: none;
    color: var(--background-color);
    padding: 4px 8px;
    background-color: var(--primary-color);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 0 0 0 var(--primary-color);
    font-family: "Fira Sans", sans-serif;

}

.textLine {
    
    
    max-width: 100%;
    padding-bottom: 0;
    padding-top: 0.5rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 80%;
    color: #0a0a0a;
    text-indent: 1rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #747474;
    text-transform: uppercase;
    letter-spacing: -0.5;

        #elementUI {
        font-family: "Nanum Pen Script", cursive;
        font-size: 1.5rem;
        color: var(--secondary-color);
        -webkit-text-stroke-width: 0px;
        position: relative;
        top: -15px;
        left: -10px;
        line-height: 0.75;
        
        font-weight: 500;
        max-width: 38rem;
        padding-bottom: 2rem;
        .arrow{
            position: absolute;
            bottom: 20px;
            left: 0px;
            rotate: -45deg;
            animation: arrowAnimation 4s ease-in-out infinite;
        }
    }

    
}



#elementGetPaid{
    font-family: "Nanum Pen Script", cursive;
    font-size: 1rem;
    color: var(--secondary-color);
    -webkit-text-stroke-width: 0px;
    position: relative;

    line-height: 0.75;
    text-transform: uppercase;
    rotate:15deg;
    font-weight: 500;
    max-width: 38rem;
    padding-bottom: 2rem;
    p{
       
    position:absolute;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;

    top: -30px;
    right: -60px;
    }
    .arrow{
        position: absolute;
        animation: arrowAnimation 4s ease-in-out infinite;
        rotate: -45deg;
        
    }
}
.elementNumber{
    font-family: "Nanum Pen Script", cursive;
    font-size: 1.5rem;
    color: var(--primary-color) !important;
    -webkit-text-stroke-width: 0px;
}

.textLine:before,
.textLine:after{
    content: " ";
    display: block;
    background: var(--background-color-active);
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
}

.font-white{
    color: var(--primary-color);
    -webkit-text-stroke-width: 0px;
}



.spaceStudants{
    
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .titleSpace{
        text-transform: uppercase;
        
        h2{
            font-weight: 800;
            font-size: 14px;
        }
        h3{
            color: #747474;
            font-weight: 500;
            font-size: 14px;
        }

    }

    .spaceForm{


        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.5rem;
        }
        
    }
}


.inputText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#222;
    position: relative;
    padding-left: 0.5rem;
    border-radius: 6px;
    min-height: 64px;


    span{
        font-size: 1rem;
        font-weight: 700;
        color: rgba(116, 116, 116, 0.8);
        cursor: text;
        margin-left: 0.5rem;
        position: absolute;
        
    }
    input{
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0.3rem;
        color: var(--primary-color);
        font-weight: 600;
        font-size: 1rem;
        caret-color: var(--secondary-color);
        width: 100%;
        
    }

    &:hover{
        box-shadow: inset 0 0 0 2px #595959;
    }
}


.focus{
    box-shadow: inset 0 0 0 2px var(--secondary-color);
    background-color: var(--background-color);
    justify-content: space-around;
    span{
        position: relative;
        top: 5px;
        color: var(--secondary-color);
        font-size: 0.8rem;
    }
    &:hover{
        box-shadow: inset 0 0 0 2px var(--secondary-color);
    }
}
.divButton{
    display: flex;
    justify-content: center;
}
.buttonStudents{
    
    
    text-transform: uppercase;
    width: 75%;
    margin-top: 2rem;
    
    color: #000;
    font-size: 1rem;
    display: block;
    
    background: var(--secondary-color);
    padding: 1rem 2rem;
    border: none;
    border-radius: 60px;
    
    cursor: pointer;
    font-family: "TT Firs Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
    &:hover{
        box-shadow: 0 0 0 2px var(--secondary-color)
    }
    }



.photoStudents{
    width: 100%;
}

.photoStudents .gridStudents{
    display: grid;
    line-height: 0;
    padding-right: 1.25rem;
    grid-template-columns: repeat(10, 1fr);
    max-width: 100%;

    div{
    display: block;
    position: relative;
    margin: 0 -1.5rem 0 0;
    border-radius: 50%;
    width: fit-content;
    background-color: #FF3366;
    img{
        text-align: right;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0 0 0 6px var(--background-color);
        
    }

    &:hover{
        transform: scale(1.1);
        z-index: 10;

        img{
            transition: filter 0.3s ease, mix-blend-mode 0.3s ease;
            mix-blend-mode: luminosity;
        }
    }
    
    }
}

.photoLogos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 0;
    

        img{
            width:100%;
            opacity: 0.5;

            &:hover{
                opacity: 1;
            }
        }
    
    
}





.video {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
#overview{
    padding-top: 1vh;
    padding: 0 20px;
    gap: 20px;
}
.textOverview{
    color: var(--primary-color);
    font-size: 1.75rem;
    line-height: 110%;
    font-weight: 600;
    max-width: 68rem;
    padding: 2rem 0;
}

ul{
    
    font-size: 1rem;
    line-height: 160%;
    max-width: 38rem;
    padding-bottom: 2rem;
    list-style: none;
}

.listOverview{

    .check{
        color: var(--secondary-color);
        line-height: 180%; 
        margin-right: 0.5rem;
    display: inline-block; 
    }
    li{
        display: flex ;
        font-weight: 600;
        color: #747474;
        cursor: default;
        &:hover{
            color: var(--primary-color);
        }

    }
}


.overviewNumbers{
    display: grid;
    grid-template-columns:1fr;
}

























@keyframes arrowAnimation {
    0%, 10%, 20%, 30%, 100% {
        transform: rotate(-2deg) scale(1) translateX(0);
    }
    5%, 15%, 25% {
        transform: rotate(2deg) scale(1.1) translateX(-4px);
    }
}